*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.button {
  border: 1px solid currentColor;
  padding-block: 6px;
  color: rgb(255 255 255 / 100%);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 100%;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: rgb(84 80 80 / 100%);
}

.button:focus-visible {
  outline: rgb(255 255 255 / 100%) solid 1px;
  outline-offset: 1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* main */

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
}

/* result blok */

.result__video-container {
  position: relative;
  height: 386px;
  margin-bottom: 19px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* search-form */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-form__label-text {
  margin-left: 5px;
  line-height: 100%;
}

.search-form__label:has(:focus-visible) {
  outline: rgb(255 255 255 / 100%) solid 1px;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: none;
}

.search-form__textfield {
  min-width: 225px;
  border: 1px solid currentColor;
  border-right: none;
  border-left: none;
  padding-inline: 0;
  color: rgb(255 255 255 / 100%);
  font-family: inherit;
  font-size: inherit;
  line-height: 100%;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 70%);
  line-height: 100%;
}

.search-form__textfield:active {
  border-right: 1px solid rgb(255 255 255 / 100%);
  border-left: 1px solid rgb(255 255 255 / 100%);
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1.5px 0;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid rgb(255 255 255 / 100%);
}

.search-form__checkbox {
  outline: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgb(255 255 255 / 100%);
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
}

/* content__details blok */

.content__details {
  place-items: stretch;
}

.title {
  margin-bottom: 22px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84 80 80 / 100%);
}

.content__list-container {
  position: relative;
  height: 298px;
  padding: 2px 3px 2px 2px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  color: rgb(255 255 255 / 100%);
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:active {
  background-color: rgb(84 80 80 / 100%);
}

.content__card-link:focus-visible {
  outline: rgb(255 255 255 / 100%) solid 1px;
  outline-offset: 0;
}

.content__card-link_current {
  background-color: rgb(84 80 80 / 100%);
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.content__video-card-title {
  margin-bottom: 5px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  line-height: 90%;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}